body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(128, 128, 128, 0.4);
}

.buttons {
  display: flex;
  gap: 15px;
  padding: 10px;
  
}

.size,
.colour,
.clickPrecision,
.mousePrecision,
.clear {
  padding: 10px;
  border: none;
  font-size: 15px;
  border-radius: 10px;
}

.colour {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.header {
    padding-bottom: 30px;
    font-size: x-large;
}

.container {
  display: grid;
  height: 600px;
  width: 600px;
}

.container div {
  border-style: solid;
  border-width: thin;
}

