body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.buttons {
    display: flex;
    gap: 80px;
    padding: 10px;
}

.size,
.colour,
.precision,
.clear {
    padding:10px
}



.container {
    display: grid;
    height: 600px;
    width: 600px;
    
}


.container div {
    border-style: solid;
    border-width: thin;
}
